article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:1em;line-height:1.4;}
body,button,input,select,textarea{font-family:sans-serif;color:#222;}
::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none;}
::selection{background:#fe57a1;color:#fff;text-shadow:none;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:hover{color:#06e;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:"";content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:invalid,textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
.container{*zoom:1;width:96.09375%;}.container:before,.container:after{display:table;content:"";}
.container:after{clear:both;}
.container .grid{float:left;display:inline;overflow:hidden;position:relative;margin:0 0.5081300813008129%;}
.container .grid_1{width:3.1504065040650406%;}
.container .grid_2{width:7.317073170731707%;}
.container .grid_3{width:11.483739837398375%;}
.container .grid_4{width:15.650406504065039%;}
.container .grid_5{width:19.817073170731707%;}
.container .grid_6{width:23.983739837398375%;}
.container .grid_7{width:28.15040650406504%;}
.container .grid_8{width:32.31707317073171%;}
.container .grid_9{width:36.483739837398375%;}
.container .grid_10{width:40.65040650406504%;}
.container .grid_11{width:44.81707317073171%;}
.container .grid_12{width:48.983739837398375%;}
.container .grid_13{width:53.15040650406504%;}
.container .grid_14{width:57.3170731707317%;}
.container .grid_15{width:61.483739837398375%;}
.container .grid_16{width:65.65040650406505%;}
.container .grid_17{width:69.8170731707317%;}
.container .grid_18{width:73.98373983739837%;}
.container .grid_19{width:78.15040650406505%;}
.container .grid_20{width:82.3170731707317%;}
.container .grid_21{width:86.48373983739837%;}
.container .grid_22{width:90.65040650406505%;}
.container .grid_23{width:94.8170731707317%;}
.container .grid_24{width:98.98373983739837%;}
.container .prefix_1{margin-left:4.67479674796748%;}
.container .prefix_2{margin-left:8.841463414634147%;}
.container .prefix_3{margin-left:13.008130081300814%;}
.container .prefix_4{margin-left:17.17479674796748%;}
.container .prefix_5{margin-left:21.341463414634145%;}
.container .prefix_6{margin-left:25.508130081300813%;}
.container .prefix_7{margin-left:29.67479674796748%;}
.container .prefix_8{margin-left:33.84146341463415%;}
.container .prefix_9{margin-left:38.00813008130081%;}
.container .prefix_10{margin-left:42.17479674796748%;}
.container .prefix_11{margin-left:46.34146341463415%;}
.container .prefix_12{margin-left:50.50813008130082%;}
.container .prefix_13{margin-left:54.67479674796748%;}
.container .prefix_14{margin-left:58.84146341463414%;}
.container .prefix_15{margin-left:63.00813008130082%;}
.container .prefix_16{margin-left:67.17479674796748%;}
.container .prefix_17{margin-left:71.34146341463415%;}
.container .prefix_18{margin-left:75.50813008130082%;}
.container .prefix_19{margin-left:79.67479674796748%;}
.container .prefix_20{margin-left:83.84146341463415%;}
.container .prefix_21{margin-left:88.00813008130082%;}
.container .prefix_22{margin-left:92.17479674796748%;}
.container .prefix_23{margin-left:96.34146341463415%;}
.container .suffix_1{margin-right:4.67479674796748%;}
.container .suffix_2{margin-right:8.841463414634147%;}
.container .suffix_3{margin-right:13.008130081300814%;}
.container .suffix_4{margin-right:17.17479674796748%;}
.container .suffix_5{margin-right:21.341463414634145%;}
.container .suffix_6{margin-right:25.508130081300813%;}
.container .suffix_7{margin-right:29.67479674796748%;}
.container .suffix_8{margin-right:33.84146341463415%;}
.container .suffix_9{margin-right:38.00813008130081%;}
.container .suffix_10{margin-right:42.17479674796748%;}
.container .suffix_11{margin-right:46.34146341463415%;}
.container .suffix_12{margin-right:50.50813008130082%;}
.container .suffix_13{margin-right:54.67479674796748%;}
.container .suffix_14{margin-right:58.84146341463414%;}
.container .suffix_15{margin-right:63.00813008130082%;}
.container .suffix_16{margin-right:67.17479674796748%;}
.container .suffix_17{margin-right:71.34146341463415%;}
.container .suffix_18{margin-right:75.50813008130082%;}
.container .suffix_19{margin-right:79.67479674796748%;}
.container .suffix_20{margin-right:83.84146341463415%;}
.container .suffix_21{margin-right:88.00813008130082%;}
.container .suffix_22{margin-right:92.17479674796748%;}
.container .suffix_23{margin-right:96.34146341463415%;}
.container .alpha{margin-left:0;padding-left:0;}
.container .omega{margin-right:0;padding-right:0;}
::-moz-selection{background-color:#18b0ef;}
::selection{background-color:#18b0ef;}
.times{font-family:"Times New Roman",Times,"Liberation Serif",FreeSerif,serif;}
.georgia{font-family:Georgia,"DejaVu Serif",Norasi,serif;}
.arial{font-family:Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif;}
.trebuchet{font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;}
.lucida{font-family:"Lucida Sans","Lucida Grande","Lucida Sans Unicode","Luxi Sans",Arial,sans-serif;}
.tahoma{font-family:Tahoma,Geneva,Kalimati,sans-serif;}
.verdana{font-family:Verdana,"DejaVu Sans","Bitstream Vera Sans",Geneva,sans-serif;}
.impact{font-family:Impact,"Arial Black",sans-serif;}
.courier{font-family:"Courier New",Courier,FreeMono,"Liberation Mono",monospace;}
.monaco{font-family:Monaco,"DejaVu Sans Mono","Lucida Console","Andale Mono",monospace;}
.helvetica{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
p{margin:0.75em 0;line-height:1.5em;}p small{font-size:0.8em;line-height:1.3em;}
a{color:#006aa9;}a:visited{color:#0074b3;}
a:hover{color:#004c8b;}
b,strong{font-weight:500;}
h1,h2,h3,h4,h5,h6{text-rendering:optimizelegibility;color:#333333;margin:0;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-size:normal;color:#999999;}
h1{font-size:3em;line-height:3em;}h1 small{font-size:0.5em;line-height:1.5em;}
h2{font-size:2em;line-height:3em;}h2 small{font-size:0.5em;}
h3{font-size:1.7em;line-height:2.25em;}h3 small{font-size:0.5em;}
h4{font-size:1.5em;line-height:2.25em;}
h5{font-size:1.3em;line-height:1.5em;}
h6{font-size:1em;line-height:1.5em;text-transform:uppercase;}
header,footer,section{*zoom:1;}header:before,footer:before,section:before,header:after,footer:after,section:after{display:table;content:"";}
header:after,footer:after,section:after{clear:both;}
section{margin-bottom:3em;}
hgroup{margin:3em 0;}hgroup h1,hgroup h2,hgroup h3,hgroup h4,hgroup h5,hgroup h6{line-height:inherit;color:inherit;}
header{margin:3em 0 1.5em;border-bottom:4px solid;}header h1,header h2,header h3,header h4,header h5,header h6{line-height:1.5em;}
ul,ol{padding:0 0 0 25px;}
li ul,li ol{margin:0;}
abbr{text-transform:uppercase;cursor:help;}
address{font-style:normal;margin:0.5em 0 !important;}
blockquote{border-left:3px solid #dadada;padding-left:5px;margin-left:0;}blockquote small{font-style:italic;}
blockquote.float-right{border-left:0;border-right:3px solid #dadada;padding-left:0;padding-right:5px;text-align:right;margin-right:0;}
img.float-left,figure.float-left{margin-right:0.75em;margin-bottom:0.75em;}
img.float-right,figure.float-right{margin-left:0.75em;margin-bottom:0.75em;}
article img+p,article figure+p{margin-top:0;}
hgroup.no-space{margin-bottom:0;}
figure{text-align:center;}figure img,figure video,figure object{width:100%;}
figure figcaption{text-align:center;font-style:italic;font-size:.8em;margin-bottom:0;}
mark{padding:5px;font-weight:normal;}
.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.justify{text-align:justify;}
.float-left{float:left;}
.float-right{float:right;}
.float-center{margin:0 auto;}
.fixed{float:none;}
.hide{display:none;}
.show{display:block;}
.invisible{visibility:hidden;}
.inline{display:inline;}
.lowercase{text-transform:lowercase;}
.uppercase{text-transform:uppercase;}
.capitalize{text-transform:capitalize;}
.underline{text-decoration:underline;}
.none{text-decoration:none;}
.relative{position:relative;}
.absolute{position:absolute;}
.lighter{font-weight:100;}.lighter b,.lighter strong{font-weight:300;}
.light{font-weight:300;}.light b,.light strong{font-weight:500;}
.normal{font-weight:500;}
.bold{font-weight:700;}
.bolder{font-weight:900;}
.italic{font-style:italic;}
.no-space *{margin:0;padding:0;line-height:1.5em;}
.buttons{}
.buttons:before,.buttons:after{content:"\0020";display:block;height:0;visibility:hidden;}
.buttons:after{clear:both;}
.buttons{zoom:1;}
button,input[type="submit"],.button{text-decoration:none;text-shadow:0 1px 0 #fff;font:bold 11px Helvetica,Arial,sans-serif;color:#444;line-height:17px;height:18px;display:inline-block;float:left;margin:5px;padding:5px 6px 4px 6px;background:#F3F3F3;border:solid 1px #D9D9D9;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-webkit-transition:border-color 0.2s;-moz-transition:border-color 0.2s;-o-transition:border-color 0.2s;transition:border-color 0.2s;}
button,input[type="submit"]{height:29px !important;cursor:pointer;}
button.left,.button.left{margin:5px 0 5px 5px;border-top-right-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topright:0;border-bottom-right-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;}
button.middle,.button.middle{margin:5px 0;border-left-color:#F4F4F4;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;}
button.right,.button.right{margin:5px 5px 5px 0;border-left-color:#F4F4F4;border-top-left-radius:0;-webkit-border-top-left-radius:0;-moz-border-radius-topleft:0;border-bottom-left-radius:0;-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;}
button:hover,.button:hover{background:#F4F4F4;border-color:#C0C0C0;color:#333;}
button:active,.button:active{border-color:#4D90FE;color:#4D90FE;-moz-box-shadow:inset 0 0 10px #D4D4D4;-webkit-box-shadow:inset 0 0 10px #D4D4D4;box-shadow:inset 0 0 10px #D4D4D4;}
button.on,.button.on{border-color:#BBB;-moz-box-shadow:inset 0 0 10px #D4D4D4;-webkit-box-shadow:inset 0 0 10px #D4D4D4;box-shadow:inset 0 0 10px #D4D4D4;}
button.on:hover,.button.on:hover{border-color:#BBB;-moz-box-shadow:inset 0 0 10px #D4D4D4;-webkit-box-shadow:inset 0 0 10px #D4D4D4;box-shadow:inset 0 0 10px #D4D4D4;}
button.on:active,.button.on:active{border-color:#4D90FE;}
button.action,.button.action{border:1px solid #D8D8D8 !important;background:#F2F2F2;background:-webkit-linear-gradient(top, #f5f5f5, #f1f1f1);background:-moz-linear-gradient(top, #f5f5f5, #f1f1f1);background:-ms-linear-gradient(top, #f5f5f5, #f1f1f1);background:-o-linear-gradient(top, #f5f5f5, #f1f1f1);-webkit-transition:border .20s;-moz-transition:border .20s;-o-transition:border .20s;transition:border .20s;}
button.action:hover,.button.action:hover{border:1px solid #C6C6C6 !important;background:#F3F3F3;background:-webkit-linear-gradient(top, #f8f8f8, #f1f1f1);background:-moz-linear-gradient(top, #f8f8f8, #f1f1f1);background:-ms-linear-gradient(top, #f8f8f8, #f1f1f1);background:-o-linear-gradient(top, #f8f8f8, #f1f1f1);}
button.blue,.button.blue{border:1px solid #3079ED !important;background:#4B8DF8;background:-webkit-linear-gradient(top, #4c8ffd, #4787ed);background:-moz-linear-gradient(top, #4c8ffd, #4787ed);background:-ms-linear-gradient(top, #4c8ffd, #4787ed);background:-o-linear-gradient(top, #4c8ffd, #4787ed);-webkit-transition:border .20s;-moz-transition:border .20s;-o-transition:border .20s;transition:border .20s;}
button.blue:hover,.button.blue:hover{border:1px solid #2F5BB7 !important;background:#3F83F1;background:-webkit-linear-gradient(top, #4d90fe, #357ae8);background:-moz-linear-gradient(top, #4d90fe, #357ae8);background:-ms-linear-gradient(top, #4d90fe, #357ae8);background:-o-linear-gradient(top, #4d90fe, #357ae8);}
button.green,.button.green{border:1px solid #29691D !important;background:#3A8E00;background:-webkit-linear-gradient(top, #3c9300, #398a00);background:-moz-linear-gradient(top, #3c9300, #398a00);background:-ms-linear-gradient(top, #3c9300, #398a00);background:-o-linear-gradient(top, #3c9300, #398a00);-webkit-transition:border .20s;-moz-transition:border .20s;-o-transition:border .20s;transition:border .20s;}
button.green:hover,.button.green:hover{border:1px solid #2D6200 !important;background:#3F83F1;background:-webkit-linear-gradient(top, #3c9300, #368200);background:-moz-linear-gradient(top, #3c9300, #368200);background:-ms-linear-gradient(top, #3c9300, #368200);background:-o-linear-gradient(top, #3c9300, #368200);}
button.red,.button.red{border:1px solid #D14836 !important;background:#D64937;background:-webkit-linear-gradient(top, #dc4a38, #d14836);background:-moz-linear-gradient(top, #dc4a38, #d14836);background:-ms-linear-gradient(top, #dc4a38, #d14836);background:-o-linear-gradient(top, #dc4a38, #d14836);-webkit-transition:border .20s;-moz-transition:border .20s;-o-transition:border .20s;transition:border .20s;}
button.red:hover,.button.red:hover{border:1px solid #B0281A !important;background:#D14130;background:-webkit-linear-gradient(top, #dc4a38, #c53727);background:-moz-linear-gradient(top, #dc4a38, #c53727);background:-ms-linear-gradient(top, #dc4a38, #c53727);background:-o-linear-gradient(top, #dc4a38, #c53727);}
button.action:hover,.button.action:hover{-moz-box-shadow:0 1px 0px #DDD;-webkit-box-shadow:0 1px 0px #DDD;box-shadow:iset 0 1px 0px #DDD;}
button.action:active,.button.action:active{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;box-shadow:none !important;border-color:#C6C6C6 !important;}
button.blue:active,.button.blue:active{border-color:#2F5BB7 !important;}
button.green:active,.button.green:active{border-color:#2D6200 !important;}
button.red:active,.button.red:active{border-color:#B0281A !important;}
.ddm span.label,button span.label,.button span.label{display:inline-block;float:left;line-height:17px;height:18px;padding:0 1px;overflow:hidden;color:#444;-webkit-transition:color .20s;-moz-transition:color .20s;-o-transition:color .20s;transition:color .20s;}
button span.label{line-height:15px !important;}
.ddm:active span.label,button:active span.label,.button:active span.label{color:#4D90FE;}
button:hover .label,.button:hover .label{color:#333;}
button:hover .label.red,.button:hover .label.red{color:#DB4A37;}
button:hover .label.blue,.button:hover .label.blue{color:#7090C8;}
button:hover .label.green,.button:hover .label.green{color:#42B449;}
button:hover .label.yellow,.button:hover .label.yellow{color:#F7CB38;}
button.blue .label,.button.blue .label{color:#FFF !important;text-shadow:0 1px 0 #2F5BB7 !important;}
button.green .label,.button.green .label{color:#FFF !important;text-shadow:0 1px 0 #2D6200 !important;}
button.red .label,.button.red .label{color:#FFF !important;text-shadow:0 1px 0 #B0281A !important;}
button.action .label,.button.action .label{padding:0 17px !important;}
button.action:active .label,.button.action:active .label{color:#333 !important;}
button.blue:active .label,button.green:active .label,button.red:active .label,.button.blue:active .label,.button.green:active .label,.button.red:active .label{color:#FFF !important;}
.ddm span.icon,button span.icon,.button span.icon{background-image:url(../images/google+-ui-sprite-gray.png);display:inline-block;margin:0 7px;float:left;line-height:18px;height:18px;width:18px;max-width:18px;overflow:hidden;text-indent:-9999px;background-repeat:no-repeat;-webkit-transition:background-image 0.2s linear;-moz-transition:background-image 0.2s linear;-o-transition:background-image 0.2s linear;transition:background-image 0.2s linear;}
.ddm:hover span.icon,button:hover span.icon,.button:hover span.icon{background-image:url(../images/google+-ui-sprite-colour.png);}
span.icon1{background-position:0px 0px;}
span.icon2{background-position:-18px 0px;}
span.icon3{background-position:-36px 0px;}
span.icon4{background-position:-54px 0px;}
span.icon5{background-position:-72px 0px;}
span.icon6{background-position:-90px 0px;}
span.icon7{background-position:-108px 0px;}
span.icon8{background-position:-126px 0px;}
span.icon9{background-position:-144px 0px;}
span.icon10{background-position:-162px 0px;}
span.icon11{background-position:-180px 0px;}
span.icon12{background-position:-198px 0px;}
span.icon13{background-position:-216px 0px;}
span.icon14{background-position:-234px 0px;}
span.icon15{background-position:-252px 0px;}
span.icon16{background-position:-270px 0px;}
span.icon17{background-position:-288px 0px;}
span.icon18{background-position:-306px 0px;}
span.icon19{background-position:-324px 0px;}
span.icon20{background-position:-342px 0px;}
span.icon21{background-position:0px -18px;}
span.icon22{background-position:-18px -18px;}
span.icon23{background-position:-36px -18px;}
span.icon24{background-position:-54px -18px;}
span.icon25{background-position:-72px -18px;}
span.icon26{background-position:-90px -18px;}
span.icon27{background-position:-108px -18px;}
span.icon28{background-position:-126px -18px;}
span.icon29{background-position:-144px -18px;}
span.icon30{background-position:-162px -18px;}
span.icon31{background-position:-180px -18px;}
span.icon32{background-position:-198px -18px;}
span.icon33{background-position:-216px -18px;}
span.icon34{background-position:-234px -18px;}
span.icon35{background-position:-252px -18px;}
span.icon36{background-position:-270px -18px;}
span.icon37{background-position:-288px -18px;}
span.icon38{background-position:-306px -18px;}
span.icon39{background-position:-324px -18px;}
span.icon40{background-position:-342px -18px;}
span.icon41{background-position:0px -36px;}
span.icon42{background-position:-18px -36px;}
span.icon43{background-position:-36px -36px;}
span.icon44{background-position:-54px -36px;}
span.icon45{background-position:-72px -36px;}
span.icon46{background-position:-90px -36px;}
span.icon47{background-position:-108px -36px;}
span.icon48{background-position:-126px -36px;}
span.icon49{background-position:-144px -36px;}
span.icon50{background-position:-162px -36px;}
span.icon51{background-position:-180px -36px;}
span.icon52{background-position:-198px -36px;}
span.icon53{background-position:-216px -36px;}
span.icon54{background-position:-234px -36px;}
span.icon55{background-position:-252px -36px;}
span.icon56{background-position:-270px -36px;}
span.icon57{background-position:-288px -36px;}
span.icon58{background-position:-306px -36px;}
span.icon59{background-position:-324px -36px;}
span.icon60{background-position:-342px -36px;}
span.icon61{background-position:0px -54px;}
span.icon62{background-position:-18px -54px;}
span.icon63{background-position:-36px -54px;}
span.icon64{background-position:-54px -54px;}
span.icon65{background-position:-72px -54px;}
span.icon66{background-position:-90px -54px;}
span.icon67{background-position:-108px -54px;}
span.icon68{background-position:-126px -54px;}
span.icon69{background-position:-144px -54px;}
span.icon70{background-position:-162px -54px;}
span.icon71{background-position:-180px -54px;}
span.icon72{background-position:-198px -54px;}
span.icon73{background-position:-216px -54px;}
span.icon74{background-position:-234px -54px;}
span.icon75{background-position:-252px -54px;}
span.icon76{background-position:-270px -54px;}
span.icon77{background-position:-288px -54px;}
span.icon78{background-position:-306px -54px;}
span.icon79{background-position:-324px -54px;}
span.icon80{background-position:-342px -54px;}
span.icon81{background-position:0px -72px;}
span.icon82{background-position:-18px -72px;}
span.icon83{background-position:-36px -72px;}
span.icon84{background-position:-54px -72px;}
span.icon85{background-position:-72px -72px;}
span.icon86{background-position:-90px -72px;}
span.icon87{background-position:-108px -72px;}
span.icon88{background-position:-126px -72px;}
span.icon89{background-position:-144px -72px;}
span.icon90{background-position:-162px -72px;}
span.icon91{background-position:-180px -72px;}
span.icon92{background-position:-198px -72px;}
span.icon93{background-position:-216px -72px;}
span.icon94{background-position:-234px -72px;}
span.icon95{background-position:-252px -72px;}
span.icon96{background-position:-270px -72px;}
span.icon97{background-position:-288px -72px;}
span.icon98{background-position:-306px -72px;}
span.icon99{background-position:-324px -72px;}
span.icon100{background-position:-342px -72px;}
span.icon101{background-position:0px -90px;}
span.icon102{background-position:-18px -90px;}
span.icon103{background-position:-36px -90px;}
span.icon104{background-position:-54px -90px;}
span.icon105{background-position:-72px -90px;}
span.icon106{background-position:-90px -90px;}
span.icon107{background-position:-108px -90px;}
span.icon108{background-position:-126px -90px;}
span.icon109{background-position:-144px -90px;}
span.icon110{background-position:-162px -90px;}
span.icon111{background-position:-180px -90px;}
span.icon112{background-position:-198px -90px;}
span.icon113{background-position:-216px -90px;}
span.icon114{background-position:-234px -90px;}
span.icon115{background-position:-252px -90px;}
span.icon116{background-position:-270px -90px;}
span.icon117{background-position:-288px -90px;}
span.icon118{background-position:-306px -90px;}
span.icon119{background-position:-324px -90px;}
span.icon120{background-position:-342px -90px;}
span.icon121{background-position:0px -108px;}
span.icon122{background-position:-18px -108px;}
span.icon123{background-position:-36px -108px;}
span.icon124{background-position:-54px -108px;}
span.icon125{background-position:-72px -108px;}
span.icon126{background-position:-90px -108px;}
span.icon127{background-position:-108px -108px;}
span.icon128{background-position:-126px -108px;}
span.icon129{background-position:-144px -108px;}
span.icon130{background-position:-162px -108px;}
span.icon131{background-position:-180px -108px;}
span.icon132{background-position:-198px -108px;}
span.icon133{background-position:-216px -108px;}
span.icon134{background-position:-234px -108px;}
span.icon135{background-position:-252px -108px;}
span.icon136{background-position:-270px -108px;}
span.icon137{background-position:-288px -108px;}
span.icon138{background-position:-306px -108px;}
span.icon139{background-position:-324px -108px;}
span.icon140{background-position:-342px -108px;}
span.icon141{background-position:0px -126px;}
span.icon142{background-position:-18px -126px;}
span.icon143{background-position:-36px -126px;}
span.icon144{background-position:-54px -126px;}
span.icon145{background-position:-72px -126px;}
span.icon146{background-position:-90px -126px;}
span.icon147{background-position:-108px -126px;}
span.icon148{background-position:-126px -126px;}
span.icon149{background-position:-144px -126px;}
span.icon150{background-position:-162px -126px;}
span.icon151{background-position:-180px -126px;}
span.icon152{background-position:-198px -126px;}
span.icon153{background-position:-216px -126px;}
span.icon154{background-position:-234px -126px;}
span.icon155{background-position:-252px -126px;}
span.icon156{background-position:-270px -126px;}
span.icon157{background-position:-288px -126px;}
span.icon158{background-position:-306px -126px;}
span.icon159{background-position:-324px -126px;}
span.icon160{background-position:-342px -126px;}
span.icon161{background-position:0px -144px;}
span.icon162{background-position:-18px -144px;}
span.icon163{background-position:-36px -144px;}
span.icon164{background-position:-54px -144px;}
span.icon165{background-position:-72px -144px;}
span.icon166{background-position:-90px -144px;}
span.icon167{background-position:-108px -144px;}
span.icon168{background-position:-126px -144px;}
span.icon169{background-position:-144px -144px;}
span.icon170{background-position:-162px -144px;}
span.icon171{background-position:-180px -144px;}
span.icon172{background-position:-198px -144px;}
span.icon173{background-position:-216px -144px;}
span.icon174{background-position:-234px -144px;}
span.icon175{background-position:-252px -144px;}
span.icon176{background-position:-270px -144px;}
span.icon177{background-position:-288px -144px;}
span.icon178{background-position:-306px -144px;}
span.icon179{background-position:-324px -144px;}
span.icon180{background-position:-342px -144px;}
span.icon181{background-position:0px -162px;}
span.icon182{background-position:-18px -162px;}
span.icon183{background-position:-36px -162px;}
span.icon184{background-position:-54px -162px;}
span.icon185{background-position:-72px -162px;}
span.icon186{background-position:-90px -162px;}
span.icon187{background-position:-108px -162px;}
span.icon188{background-position:-126px -162px;}
span.icon189{background-position:-144px -162px;}
span.icon190{background-position:-162px -162px;}
span.icon191{background-position:-180px -162px;}
span.icon192{background-position:-198px -162px;}
span.icon193{background-position:-216px -162px;}
span.icon194{background-position:-234px -162px;}
span.icon195{background-position:-252px -162px;}
span.icon196{background-position:-270px -162px;}
span.icon197{background-position:-288px -162px;}
span.icon198{background-position:-306px -162px;}
span.icon199{background-position:-324px -162px;}
span.icon200{background-position:-342px -162px;}
div.dropdown{float:left;position:relative;}
div.dropdown span.toggle{width:19px;height:16px;margin-left:7px;margin-top:1px;margin-right:2px;padding-left:8px;float:right;background:url(../images/toggle.png) top right no-repeat;border-left:1px solid #D9D9D9;-webkit-transition:border-color 0.2s;-moz-transition:border .20s;-o-transition:border-color 0.2s;transition:border-color 0.2s;}
div.dropdown span.toggle.active{background:url(../images/toggle.png) bottom right no-repeat;}
div.dropdownbutton:hover span.toggle,.button:hover span.toggle{border-color:#C0C0C0;}
div.dropdown-slider{display:none;overflow:hidden;margin:0 7px 5px 7px;position:absolute;top:34px;right:0;background:#F2F2F2;border-right:solid 1px #D9D9D9;border-bottom:solid 1px #D9D9D9;border-left:solid 1px #D9D9D9;-webkit-border-bottom-right-radius:2px;-webkit-border-bottom-left-radius:2px;-moz-border-radius-bottomright:2px;-moz-border-radius-bottomleft:2px;border-bottom-right-radius:2px;border-bottom-left-radius:2px;-webkit-transition:border-color 0.2s;-moz-transition:border .20s;-o-transition:border-color 0.2s;transition:border-color 0.2s;}
.left div.dropdown-slider{margin:0 1px 5px 7px;}
.middle div.dropdown-slider{margin:0 1px 5px 1px;}
.right div.dropdown-slider{margin:0 7px 5px 1px;}
div.dropdown-slider .ddm{display:block;background:#F2F2F2;color:#585858;text-decoration:none;text-shadow:0 1px 0 #fff;font:bold 11px Helvetica,Arial,sans-serif;line-height:18px;height:18px;margin:0;padding:5px 6px 4px 6px;width:100%;float:left;border-top:1px solid #FFF;border-bottom:1px solid #D9D9D9;}
div.dropdown-slider .ddm:hover{background:#F4F4F4;border-bottom-color:#C0C0C0;}
div.dropdown-slider .ddm:active{border-bottom-color:#4D90FE;color:#4D90FE;-moz-box-shadow:inset 0 0 10px #D4D4D4;-webkit-box-shadow:inset 0 0 10px #D4D4D4;box-shadow:inset 0 0 10px #D4D4D4;}
div.dropdown-slider .ddm:last-child{border-bottom:none;}
nav h1,nav h2,nav h3,nav h4,nav h5,nav h6{font-size:1.4em;line-height:1.6em;}
nav a{text-decoration:none;}
nav ul{font-size:.9em;overflow:visible !important;height:100%;}nav ul li{padding:0.7619047619047619em 0;width:11.483739837398375%;float:left;text-align:center;position:relative;}nav ul li ul{position:absolute;display:none;padding-left:0;top:39px;}
nav ul li:hover ul{display:block;z-index:200;width:100%;height:auto;}
nav ul li:hover li{display:block;float:none;width:100%;height:20px;}
table{margin:10px 0;}table th,table td{padding:8px;text-align:left;}
table caption{caption-side:bottom;font-weight:700;font-style:italic;font-size:.8em;}
table.table th,table.table td{border-bottom:1px solid #999999;}
table.table-stripped tbody tr:nth-child(odd){background-color:#eeeeee;}
table.table-condensed th,table.table-condensed td{padding-top:4px;padding-bottom:4px;}
table.table-bordered th,table.table-bordered td{border:1px solid #999999;}
ul,ol{padding-left:0;list-style-position:inside;}ul.unstyled,ol.unstyled{list-style-type:none;}
ul ul,ol ul,ul ol,ol ol{padding-left:20px;}
dl dt{font-weight:700;}
dl dd{margin-bottom:0.75em;margin-left:10px;}
dl.inline{display:block;}dl.inline dt{float:left;text-align:right;width:30%;margin-right:2%;}
dl.inline dd{margin-left:30%;}
code,pre{border:1px solid #dadada;background-color:#f8f8f8;padding:4px !important;font-size:.8em;font-style:normal;}
pre{-webkit-border-radius:5px;border-radius:5px;behavior:url("/lib/htc/ie-css3.htc");}
code{color:#d96259;}
form label{display:block;}
form input,form textarea,form select{width:inherit;border:1px solid #dadada !important;-webkit-border-radius:3px;border-radius:3px;behavior:url("/lib/htc/ie-css3.htc");padding:0 3px;}
form input,form textarea{-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;}form input:focus,form textarea:focus,form input.focus,form textarea.focus{border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);outline:0;}
form input{height:1.8em;}form input#text{font-size:inherit;}
form input:default:not[[object Object]],form input.default{border-color:#ff017d !important;}
form input:required,form input.required,form input:invalid,form input.invalid{border-color:#9d261d !important;}
form input:optional,form input .optional{border-color:#ffc40d;}
form input:valid,form input .valid{border-color:#46a546;}
form input:disabled,form input.disabled{background-color:#f8f8f8;border-color:#dadada;}
form input[type="file"]{padding:6px 3px 0;}
form input[type="radio"],form input[type="checkbox"]{height:1em;}
form input[type="file"]{font-size:12px;}
form button{height:1.8em;}
form select,form textarea{padding:5px 3px;}
form select{font-size:.8em;}
form .help{font-size:.9em;color:#555555;}
form fieldset{border:1px solid #dadada;background-color:#f8f8f8;-webkit-border-radius:5px;border-radius:5px;behavior:url("/lib/htc/ie-css3.htc");padding:5px;width:inherit;}form fieldset.naked{border:0;background-color:inherit;}
form fieldset.inline label{float:left;text-align:right;width:15.650406504065039%;}
form fieldset.inline input{margin-left:4.67479674796748%;}
form fieldset.inline span{display:block;margin-left:21.341463414634145%;}
form fieldset .form-actions{border-top:1px solid #dadada;background-color:#f8f8f8;padding:0.75em 0;text-align:center;}form fieldset .form-actions button,form fieldset .form-actions input{width:100px;float:none;}form fieldset .form-actions button.blue,form fieldset .form-actions input.blue,form fieldset .form-actions button.red,form fieldset .form-actions input.red,form fieldset .form-actions button.green,form fieldset .form-actions input.green{color:#fefefe !important;}
form fieldset .form-actions button.blue,form fieldset .form-actions input.blue{text-shadow:0 1px 0 #2F5BB7 !important;}
form fieldset .form-actions button.red,form fieldset .form-actions input.red{text-shadow:0 1px 0 #B0281A !important;}
form fieldset .form-actions button.green,form fieldset .form-actions input.green{text-shadow:0 1px 0 #2D6200 !important;}
form fieldset .form-actions button.big-button,form fieldset .form-actions input.big-button{font-size:1em;height:40px !important;}


